*{
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg,aqua,rgb(4, 4, 56));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container img{
    width: 40px;
    height: 40px;

  }
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
  }
  
  button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  